body {
    background: -webkit-linear-gradient(bottom left, lightgray, dimgrey);
    background: -moz-linear-gradient(bottom left, lightgray, dimgrey);
    background: -o-linear-gradient(bottom left, lightgray, dimgrey);
    background: linear-gradient(to top right, lightgray, dimgrey);
    margin: 0;
    padding: 0;
    text-align: center;
}

img {                           /* Added to make the images uniform size */
    height: 300px;
    width: 450px;
}

.divider {                      /* This was added to test on my iphone. */ 
    overflow: hidden;
}

.entry {
    padding: 20px;
}

.entry p {
    max-width: 450px;           /* Added to match the width of the images */
    margin: auto;
}

#glitch{
    font-family: Arial, Helvetica, sans-serif;
}