body {
    background: -webkit-linear-gradient(bottom left, lightgray, dimgrey);
    background: -moz-linear-gradient(bottom left, lightgray, dimgrey);
    background: -o-linear-gradient(bottom left, lightgray, dimgrey);
    background: linear-gradient(to top right, lightgray, dimgrey);
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    height: 300px;
    width: 450px;
}

.divider {
    overflow: hidden;
}

.entry {
    text-align: center;
    padding: 20px;
}

.entry p {
    max-width: 450px;
    text-align: center;
    margin: auto;
}